.videoContainer {
    width: 960px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.videoItem {
    color: black;
}

.videoList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mainIframe {
    width: 960px;
    height: 550px;
    border: none;
}