.starRatingContainer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.ratingText {
    margin-bottom: 8px;
    font-size: 16px;
    color: black;
}

.starRating {
    font-size: 26px;
    color: #ccc;
    display: inline-block;
    position: relative;
}

.starRating.selected {
    color: #ffb400;
}

.starRating.halfSelected {
    color: #ccc;
}

.starRating.halfSelected::before {
    content: '★';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%; /* Закрашиваем половину звезды */
    overflow: hidden;
    color: #ffb400; /* Цвет закрашенной части */
}